body,
#root,
.page-wrapper {
  height: 100%;
  background-color: #fcfcfc;
}

.map-maker-icon {
  color: #fd6c6c;
}

.github-icon {
  font-size: 24px;
}

.github-link {
  color: #262626;
  font-size: 20px;
}

.github-link:hover,
.github-link:active {
  color: #4078c0;
  text-decoration: none;
}

.suggestion-icon {
  margin-right: 8px;
}

.search-bar-container {
  width: 100%;
}

.search-input-container {
  position: relative;
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  /* border-radius: 4px; */
  outline: none;
  color: white;
  background-color: #29323c;
}

.clear-button,
.clear-button:active,
.clear-button:focus {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: scaleX(1.2) translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}

.autocomplete-container {
  margin-top: 8px;
  border-color: honeydew;
  /* border-bottom: honeydew; */
  /* border-left: honeydew; */
  /* border-right: honeydew; */
  /* border-top: 1px solid #e6e6e6; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* border-radius: 4px; */
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  /* background-color: #fff; */
  color: #cae9f4;
  background-color: #252731;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #697485;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.dropdown-footer-image {
  display: inline-block;
  width: 150px;
}

.spinner {
  color: #18bc9c;
  font-size: 30px;
}

.error-message {
  color: red;
}

.geocode-result-header {
  font-size: 20px;
  color: #222222;
}

@media (max-width: 480px) {
  .autocomplete-container {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein 0.75s;
    -moz-animation: fadein 0.75s;
    -ms-animation: fadein 0.75s;
    -o-animation: fadein 0.75s;
    animation: fadein 0.75s;
  }

  .btn {
    margin-top: 1.5rem;
  }

  .form-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;
  }
}
